:root{
    --lighter-green: hsl(148, 38%, 91%);
    --medium-green: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --medium-grey: hsl(186, 15%, 59%);
    --darker-grey: hsl(187, 24%, 22%);
}


h2 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h3,p{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
input{
    border-width: 1px;
    border-color:  var(--medium-grey);
    border-radius: 7px;
}
body{
    background-color: var(--lighter-green);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
}
.contactdiv{
    background-color: var(--white);
    width: fit-content;
    padding: 20px 30px;
    border-radius:15px ;
    display: grid;
    gap: 15px;
}
.name{
    display: flex;
    gap: 20px;
    input{
        height:50px;
        width: 300px;
    }
}
.email{
    input{
        height:50px;
        width: 620px;
    }
}

.gen_sup{
    display: flex;
    gap: 20px;
    align-items: center;
}
.queryinput{
    border: 1px solid;
    border-color: var(--medium-grey);
    border-radius: 7px;
    height: 50px;
    width: 280px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 25px;

}
.message{
    input{
        height: 100px;
        width: 620px;
    }
}
.consent{
    display: flex;
    gap: 20px;
}
button{
    background-color: var(--medium-green);
    border: none;
    border-radius: 7px;
    width: 625px;
    height: 50px;
    color: var(--white);
}